@import "tailwindcss";
@theme {
  --font-family-pretendard: "Pretendard", system-ui, sans-serif;
  --letter-spacing-pretendard: -0.025em;
  --color-main-bg: white;
  --color-main-text: #222222;
  --color-grey: rgba(0, 0, 0, 0.1);
  --color-grey2: rgba(34, 34, 34, 0.5);
  --color-orange: #ee6846;
  --color-green: #59a564;
}

@layer base {
  pre {
    font-family: inherit !important;
    white-space: pre-wrap !important;
    word-wrap: break-word !important;
  }
}

@layer utilities {
  .font-pretendard {
    font-family: "Pretendard", system-ui, sans-serif;
    letter-spacing: -0.025em;
  }
  .button-productDetail {
    cursor: pointer;
    background-color: white;
    width: 100px;
    height: 36px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: "Pretendard", system-ui, sans-serif;
    color: #222222;
    font-size: 11px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  .button-productDetail2 {
    cursor: pointer;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-family: "Pretendard", system-ui, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 10px;
    color: white;
  }

  .button-size {
    cursor: pointer;
    background-color: white;
    width: 90px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: "Pretendard", system-ui, sans-serif;
    color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .button-size2 {
    cursor: pointer;
    background-color: white;
    width: 90px;
    height: 40px;
    border: 1px solid #222222;
    border-radius: 10px;
    font-family: "Pretendard", system-ui, sans-serif;
    color: #222222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .scrollbar::-webkit-scrollbar {
    width: 3px;
    height: auto;
    position: relative;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
    margin: 10px 0; /* 👈 위아래 여백 */

  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  .input-checkBox {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: #222222;
    position: relative; /* 이거 필수! */
  }

  .input-checkBox:checked::after {
    content: "✓";
    color: white;
    position: absolute; /* 이거 필수! */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
  }

  .button-smallButton {
    cursor: pointer;
    width: 70px;
    height: 25px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    font-size: 12px;
  }

  .button-payment {
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    color: white;
  }

  .couponDiv {
    margin-top: 5px;
    display: flex;
    width: 80%;
    height: 50px;
    text-align: left;
    padding: 0 10px;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(217, 217, 217, 0.3);
    color: rgba(34, 34, 34, 0.5);
    font-size: 12px;
  }

  @media (min-width: 640px) {
    .button-productDetail {
      width: 130px;
      height: 40px;
      font-size: 12px;
      color: #222222;
      border-radius: 10px;
      text-align: center;
    }

    .button-productDetail2 {
      width: 255px;
      gap: 10px;
    }

    .input-checkBox {
      width: 20px;
      height: 20px;
    }

    .input-checkBox:checked::after {
      font-size: 20px;
    }

    .couponDiv {
      width: 85%;
    }
  }
}
